In [1]:
import numpy as np
import pandas as pd

In [43]:
#RAW DATA FROM SCRAPPIN
df= pd.read_csv('/home/gibeon/Desktop/MY/fvldata/STORAGE/TABLES/pTable001.csv')

#df['Pos'] = df.index
#df.reset_index(level=0, inplace=True)

#df['INDX'] = pd.Series(list(range(len(df['Team']))))
df.head()    ####  REMOVE DIFF,one of WDL,

   Pos  Dir           Team   P  W  D  L  GF  GA  DIFF  Points        Season
0    1   -1      VL Moscow  12  8  1  3  21   9    12      25  Season 12657
1    2    1        VL Rome  12  7  2  3  22  16     6      23  Season 12657
2    3    0      VL London  12  7  2  3  19  17     2      23  Season 12657
3    4   -1  VL Copenhagen  12  6  3  3  11  10     1      21  Season 12657
4    5    0      VL Madrid  12  5  5  2  23  13    10      20  Season 12657

In [3]:
# df2 = df.set_index(['P', 'Pos'],drop=False)  ##interesing stuff
# df2.head()

In [4]:
#team_cat = df['Team'].astype('category')
#team_cat

In [5]:
#df['Team'] = team_cat

In [6]:
#df.head()
df['Team'].unique()

array(['VL Moscow', 'VL Rome', 'VL London', 'VL Copenhagen', 'VL Madrid',
       'VL Berlin', 'VL Kiev', 'VL Amsterdam', 'VL Bern', 'VL Vienna',
       'VL Lisbon', 'VL Athens', 'VL Paris', 'VL Zagreb', 'VL Prague',
       'VL Ankara'], dtype=object)

In [7]:
def teamCoded(S):
    
#     cats=['MADRID', 'AMSTERDAM','BERLIN','LONDON','ROME','OSLO','LISBON','PARIS','BRUSSELS','ATHENS','STOCKHOLM',
#           'COPENHAGEN','VIENNA', 'ANKARA','EDINBURGH','BERN']
    
    cats=['MADRID', 'AMSTERDAM','BERLIN','LONDON','ROME','MOSCOW','LISBON','PARIS','ZAGREB','ATHENS','PRAGUE',
          'COPENHAGEN','VIENNA', 'ANKARA','KIEV','BERN']

    catsRev=[]
    for tm in S:
        if tm == cats[0]:
            catsRev.append(1)
        elif tm == cats[1]:
            catsRev.append(2)
        elif tm == cats[2]:
            catsRev.append(3)
        elif tm == cats[3]:
            catsRev.append(4)
        elif tm == cats[4]:
            catsRev.append(5)
        elif tm == cats[5]:
            catsRev.append(6)
        elif tm == cats[6]:
            catsRev.append(7)
        elif tm == cats[7]:
            catsRev.append(8)
        elif tm == cats[8]:
            catsRev.append(9)
        elif tm == cats[9]:
            catsRev.append(10)
        elif tm == cats[10]:
            catsRev.append(11)
        elif tm == cats[11]:
            catsRev.append(12)
        elif tm == cats[12]:
            catsRev.append(13)
        elif tm == cats[13]:
            catsRev.append(14)
        elif tm == cats[14]:
            catsRev.append(15)
        elif tm == cats[15]:
            catsRev.append(16)
    return catsRev


df['TEAM']=pd.Series([x.split()[1].upper() for x in df.Team])
df['HOMECODE']=teamCoded(df['TEAM'])
df['AWAYCODE']=teamCoded(df['TEAM'])
#df['TEAM']
#df.TEAM
#df #.head()

In [8]:
df.head()

,Pos,Dir,Team,P,W,D,L,GF,GA,DIFF,Points,Season,TEAM,HOMECODE,AWAYCODE
0,1,-1,VL Moscow,12,8,1,3,21,9,12,25,Season 12657,MOSCOW,6,6
1,2,1,VL Rome,12,7,2,3,22,16,6,23,Season 12657,ROME,5,5
2,3,0,VL London,12,7,2,3,19,17,2,23,Season 12657,LONDON,4,4
3,4,-1,VL Copenhagen,12,6,3,3,11,10,1,21,Season 12657,COPENHAGEN,12,12
4,5,0,VL Madrid,12,5,5,2,23,13,10,20,Season 12657,MADRID,1,1

In [9]:
df1 = df[df.isna().any(axis=1)]

In [10]:
df1

Empty DataFrame
Columns: [Pos, Dir, Team, P, W, D, L, GF, GA, DIFF, Points, Season, TEAM, HOMECODE, AWAYCODE]
Index: []

In [42]:
dfR= pd.read_csv('/home/gibeon/Desktop/MY/fvldata/STORAGE/TABLES/pResu001.csv')

#dfR= pd.read_csv('/home/ideon/Desktop/DATA CENTRE/resultDataR.csv')
dfR.head()

            TIMER                       TEAMSr  HTR  FTR  P        Season
0  17/07/19 08:10      VL Berlin  -  VL Athens  2:0  4:0  1  Season 12657
1  17/07/19 08:10       VL Zagreb  -  VL Paris  1:3  1:3  1  Season 12657
2  17/07/19 08:10  VL Copenhagen  -  VL Moscow  0:0  1:0  1  Season 12657
3  17/07/19 08:10        VL London  -  VL Rome  0:0  2:0  1  Season 12657
4  17/07/19 08:10          VL Bern  -  VL Kiev  2:0  4:0  1  Season 12657

In [12]:


#function to input(ps) DF column of form/content (3:2) eg HT result or HT results and out put ps.series with eithe 0,1 or 2
def results(ps):

    #ps = ps.dropna()
    lp=[]
    for x in ps:
       # print(x)
        
        h=x.replace(':','  ')[:1]
      #  print(h)
        a=x.replace(':','  ')[1:]
        if float(h) > float(a):
            lp.append(1)

        elif float(a) > float(h):
            lp.append(2)
        else:
            lp.append(0)

    return pd.Series(lp)



def over_under(ps,n):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        if (float(h) + float(a)) > float(n):
            lp.append(1)

        else:
            #means it is under n eg under 2.5
            lp.append(0)

    return pd.Series(lp)

##addition collumn of all goals
def goalsum(ps):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        lp.append((float(h) + float(a)))

    return pd.Series(lp)

In [13]:
'''
#split TEAMS into HOME & AWAY 
df['HOME']=pd.Series([x.split()[1] for x in df.TEAMSd])
df['AWAY']=pd.Series([x.split()[3] for x in df.TEAMSd])
df['TIMEdd']=pd.Series([x.split()[1] for x in df.TIMED])
df['TIMEst']=pd.Series([x.split()[0] for x in df.timestamp])
df['TIMEfc']=pd.Series([p[3:][5:8]+p[2:][:4]+p[:][:2] for p in df.TIMEst])
#df['TIMEddR']=pd.Series([x.split()[1] for x in df.TIMEDdd])
##

lx=[]
for x in df.TIMED:
    p=x.split()[1].replace(':','.')
    if float(p)> 1.00:
        q=('0'+str((round((float(p.replace(':','.'))-1),2))).replace('.',':')+'0')[:5]
    
    else:
        p=float(p)+24.00
        q=str((float(str(p).replace(':','.'))-1)).replace('.',':') 
    lx.append(q)



# time equating CODE (fx) for discrepancies in time between DATA and RESU to enable DF matching
lx=[]
for x in df.TIMED:
    p=x.split()[1].replace(':','.')
   # print('P:',p)
    if float(p)> 1.59:
        if float(p) < 12 and float(p) > 1.59:
            #process tine between 2 -12 
            q1=('0'+ str((round((float(p.replace(':','.'))-2),2))).replace('.',':')+'0')[:5]# minus 2 hrs.Resu is 2 hrs behind
            if len(q1) == 4:
                q = q1+ '0'
            else:
                q = q1
          
        else:
            #process te rest of te time
            q1=(str((round((float(p)-2),2))).replace('.',':')+'0')[:5] # minus 2 hrs.Resu is 2 hrs behind
            if len(q1) == 4:
                q = q1+ '0'
            else:
                q = q1
                                          
        
      #  print('PQ:',p,q)
    
    else:
        # process time b/w 00:00 to 2 :00
        p1= float(p)
        p= p1 +24.00                    
        q1= str((float(str(p).replace(':','.'))-2)).replace('.',':') # minus 2 hrs.Resu is 2 hrs behind
        #if q >= 24
        if len(q1) ==4:
            q = q1+ '0'
        else:
            q = q1
       #print('PQ:',p1,q)
      
    lx.append(q)
    
''' 

   
'''    
df['TIMEr']=pd.Series(lx)

df['TIMER']=df['TIMEfc']  + ' ' + df['TIMEdd']


#Use teamCode FX to code HOME & AWAY collumns and crean new HOMECODE & AWAYCODE
df['HOMECODE']=teamCoded(df['HOME'])
df['AWAYCODE']=teamCoded(df['AWAY'])
#df['TEAMSC']=df['HOMECODE'] + df['AWAYCODE']
df['TC']=df['HOME']+' '+df['AWAY']
colum=['TC','HOMECODE', 'AWAYCODE','TIMER','TIMED','TIMEr',
'1', '2', 'X', 'HT1', 'HT2', 'HTX', 'FS (0:0)', 'FS(0:0)2', 'FS(0:0)X',
        'G(0.5)O', 'G(0.5)U', 'G(1.5)O', 'G(1.5)U', 'G(2.5)O',
       'G(2.5)U', 'G(3.5)O', 'G(3.5)U', 'G(4.5)O', 'G(4.5)U']
data=df.reindex(columns=colum).fillna(0)
'''
#======================================================================
dfR['TEAMSr']
dfR['TEAMSr']=pd.Series([x.upper() for x in dfR.TEAMSr])
dfR['TEAMSr']=pd.Series([x.upper() for x in dfR.TEAMSr])
#split TEAMS into HOME & AWAY 
dfR['HOME']=pd.Series([x.split()[1] for x in dfR.TEAMSr]) 
dfR['AWAY']=pd.Series([x.split()[4] for x in dfR.TEAMSr])

dfR['TIMEr']=pd.Series([x.split()[1] for x in dfR.TIMER])
#Use teamCode FX to code HOME & AWAY collumns and crean new HOMECODE & AWAYCODE
dfR['TC']=dfR['HOME']+' '+dfR['AWAY']

dfR['HOMECODE']=teamCoded(dfR['HOME'])
dfR['AWAYCODE']=teamCoded(dfR['AWAY'])
#dfR['TEAMSC']=dfR['HOMECODE'] + dfR['AWAYCODE']
#teamCode(dfR['HOME'])


    
dfR['FT_Goals']=pd.Series([str(x).replace(':','  ')[:] for x in dfR.FTR])
dfR['HT_Goals']=pd.Series([str(x).replace(':','  ')[:] for x in dfR.HTR])
dfR['FT_home_goals']=pd.Series([str(x).replace(':','  ')[:1] for x in dfR.FTR])
dfR['FT_away_goals']=pd.Series([str(x).replace(':','  ')[1:] for x in dfR.FTR])
dfR['HT_home_goals']=pd.Series([str(x).replace(':','  ')[:1] for x in dfR.HTR])
dfR['HT_away_goals']=pd.Series([str(x).replace(':','  ')[1:] for x in dfR.HTR])



dfR['FT_Results_1_0_2']=results(dfR['FT_Goals'])
dfR['HT_Results_1_0_2']=results(dfR['HT_Goals'])


# FT UNDER /OVER Goals
p = 3.5
n = 2.5
q = 1.5

dfR['Under_Over_3.5']= over_under(dfR['FT_Goals'],p)
dfR['Under_Over_2.5']= over_under(dfR['FT_Goals'],n)
dfR['Under_Over_1.5']= over_under(dfR['FT_Goals'],q)



dfR['Sum_Goals']= goalsum(dfR['FT_Goals'])





dfR['Sum_Goals']= goalsum(dfR['FT_Goals'])# addition column of all goals

#dfR['HT_Results_1_0_2']=results(dfR['HT_Goals'])

colum=['P','Season','TC','HOMECODE', 'AWAYCODE','TIMEr','HTR', 'FTR', 'HT_home_goals', 'HT_away_goals',
       'FT_home_goals','FT_away_goals','Sum_Goals','HT_Results_1_0_2','FT_Results_1_0_2','Under_Over_1.5','Under_Over_2.5',
       'Under_Over_3.5']
resu= dfR.reindex(columns=colum).fillna(0)#.values


colum=['TC','HOMECODE', 'AWAYCODE','TIMEr','HTR', 'FTR', 'HT_home_goals', 'HT_away_goals',
       'FT_home_goals','FT_away_goals','HT_Results_1_0_2','FT_Results_1_0_2','TIMER','TIMED','1','2','X','HT1','HT2','HTX','FS (0:0)','FS(0:0)2','FS(0:0)X','G(0.5)O','G(0.5)U',
         'G(1.5)O','G(1.5)U','G(2.5)O','G(2.5)U','G(3.5)O','G(3.5)U','G(4.5)O','G(4.5)U','Under_Over_1.5','Under_Over_2.5',
       'Under_Over_3.5']

In [16]:
resu.head()

,P,Season,TC,HOMECODE,AWAYCODE,TIMEr,HTR,FTR,HT_home_goals,HT_away_goals,FT_home_goals,FT_away_goals,Sum_Goals,HT_Results_1_0_2,FT_Results_1_0_2,Under_Over_1.5,Under_Over_2.5,Under_Over_3.5
0,1,Season 12657,BERLIN ATHENS,3,10,08:10,2:0,4:0,2,0,4,0,4.0,1,1,1,1,1
1,1,Season 12657,ZAGREB PARIS,9,8,08:10,1:3,1:3,1,3,1,3,4.0,2,2,1,1,1
2,1,Season 12657,COPENHAGEN MOSCOW,12,6,08:10,0:0,1:0,0,0,1,0,1.0,0,1,0,0,0
3,1,Season 12657,LONDON ROME,4,5,08:10,0:0,2:0,0,0,2,0,2.0,0,1,1,0,0
4,1,Season 12657,BERN KIEV,16,15,08:10,2:0,4:0,2,0,4,0,4.0,1,1,1,1,1

In [17]:
#gr = resu.groupby([resu['HOMECODE'], resu['AWAYCODE']])

In [18]:
df.head()

,Pos,Dir,Team,P,W,D,L,GF,GA,DIFF,Points,Season,TEAM,HOMECODE,AWAYCODE
0,1,-1,VL Moscow,12,8,1,3,21,9,12,25,Season 12657,MOSCOW,6,6
1,2,1,VL Rome,12,7,2,3,22,16,6,23,Season 12657,ROME,5,5
2,3,0,VL London,12,7,2,3,19,17,2,23,Season 12657,LONDON,4,4
3,4,-1,VL Copenhagen,12,6,3,3,11,10,1,21,Season 12657,COPENHAGEN,12,12
4,5,0,VL Madrid,12,5,5,2,23,13,10,20,Season 12657,MADRID,1,1

In [19]:
##magic happens here

dff1 = pd.merge(df,resu, on =('Season','P','HOMECODE'))#,left_on='lkey', right_on='rkey')
#dff1['AWAYCODE'] = dff1['AWAYCODE_x']
dff2 = pd.merge(df,resu, on =('Season','P','AWAYCODE'))#,left_on='lkey', right_on='rkey')

In [41]:
#dff1.iloc[:, 1:82]#[dff1.TEAM == 'MADRID']  #  most IMPORTANT FILTER OF DFS....NOTE NOTE NOTE
#len(dff1.columns)#[data.three > 5]
#len(dff1.columns)

In [25]:
#dff2.iloc[:, 31:52]#[data.three > 5]
#len(dff1.columns)
dff2['HOMECODE'] = dff2['HOMECODE_y']
#dff2.iloc[:, 1:82]#[dff2.TEAM == 'VIENNA']

In [22]:
datag = pd.merge(dff1,dff2, on =('Season','P','HOMECODE'))

In [24]:
datag.head()

,Pos_x,Dir_x,Team_x,P,W_x,D_x,L_x,GF_x,GA_x,DIFF_x,...,HT_home_goals_y,HT_away_goals_y,FT_home_goals_y,FT_away_goals_y,Sum_Goals_y,HT_Results_1_0_2_y,FT_Results_1_0_2_y,Under_Over_1.5_y,Under_Over_2.5_y,Under_Over_3.5_y
0,4,-1,VL Copenhagen,12,6,3,3,11,10,1,...,2,1,3,2,5.0,1,1,1,1,1
1,4,-1,VL Copenhagen,12,6,3,3,11,10,1,...,2,1,3,2,5.0,1,1,1,1,1
2,4,-1,VL Copenhagen,12,6,3,3,11,10,1,...,2,1,3,2,5.0,1,1,1,1,1
3,4,-1,VL Copenhagen,12,6,3,3,11,10,1,...,2,1,3,2,5.0,1,1,1,1,1
4,4,-1,VL Copenhagen,12,6,3,3,11,10,1,...,2,1,3,2,5.0,1,1,1,1,1

In [26]:
datag.columns

colt = ['Season','TC_x','HOMECODE','AWAYCODE','TEAM_x','Team_x','Pos_x', 'Dir_x', 'P', 'W_x', 'D_x', 'L_x', 'GF_x', 'GA_x','DIFF_x',
        'Points_x','TEAM_y','Team_y','Pos_y', 'Dir_y','W_y', 'D_y', 'L_y', 'GF_y', 'GA_y', 'DIFF_y', 'Points_y','HTR_y',
       'FTR_y', 'HT_home_goals_y', 'HT_away_goals_y', 'FT_home_goals_y',
       'FT_away_goals_y', 'Sum_Goals_y', 'HT_Results_1_0_2_y',
       'FT_Results_1_0_2_y', 'Under_Over_1.5_y', 'Under_Over_2.5_y',
       'Under_Over_3.5_y']

col2 = ['HOMECODE','AWAYCODE','Pos_x', 'Dir_x', 'P', 'W_x', 'D_x', 'L_x', 'GF_x', 'GA_x','DIFF_x',
        'Points_x','Pos_y', 'Dir_y','W_y', 'D_y', 'L_y', 'GF_y', 'GA_y', 'DIFF_y', 'Points_y','Under_Over_2.5_y',]
datag.columns

Index(['Pos_x', 'Dir_x', 'Team_x', 'P', 'W_x', 'D_x', 'L_x', 'GF_x', 'GA_x',
       'DIFF_x', 'Points_x', 'Season', 'TEAM_x', 'HOMECODE', 'AWAYCODE_x',
       'TC_x', 'AWAYCODE_y', 'TIMEr_x', 'HTR_x', 'FTR_x', 'HT_home_goals_x',
       'HT_away_goals_x', 'FT_home_goals_x', 'FT_away_goals_x', 'Sum_Goals_x',
       'HT_Results_1_0_2_x', 'FT_Results_1_0_2_x', 'Under_Over_1.5_x',
       'Under_Over_2.5_x', 'Under_Over_3.5_x', 'Pos_y', 'Dir_y', 'Team_y',
       'W_y', 'D_y', 'L_y', 'GF_y', 'GA_y', 'DIFF_y', 'Points_y', 'TEAM_y',
       'HOMECODE_x', 'AWAYCODE', 'TC_y', 'HOMECODE_y', 'TIMEr_y', 'HTR_y',
       'FTR_y', 'HT_home_goals_y', 'HT_away_goals_y', 'FT_home_goals_y',
       'FT_away_goals_y', 'Sum_Goals_y', 'HT_Results_1_0_2_y',
       'FT_Results_1_0_2_y', 'Under_Over_1.5_y', 'Under_Over_2.5_y',
       'Under_Over_3.5_y'],
      dtype='object')

In [28]:
datag2 =  datag.reindex(columns= colt)
#datag2.iloc[:, 1:38].head()#[dff2.TEAM == 'VIENNA']
datag2.head()

,Season,TC_x,HOMECODE,AWAYCODE,TEAM_x,Team_x,Pos_x,Dir_x,P,W_x,...,HT_home_goals_y,HT_away_goals_y,FT_home_goals_y,FT_away_goals_y,Sum_Goals_y,HT_Results_1_0_2_y,FT_Results_1_0_2_y,Under_Over_1.5_y,Under_Over_2.5_y,Under_Over_3.5_y
0,Season 12657,COPENHAGEN LISBON,12,7,COPENHAGEN,VL Copenhagen,4,-1,12,6,...,2,1,3,2,5.0,1,1,1,1,1
1,Season 12657,COPENHAGEN LISBON,12,7,COPENHAGEN,VL Copenhagen,4,-1,12,6,...,2,1,3,2,5.0,1,1,1,1,1
2,Season 12657,COPENHAGEN LISBON,12,7,COPENHAGEN,VL Copenhagen,4,-1,12,6,...,2,1,3,2,5.0,1,1,1,1,1
3,Season 12657,COPENHAGEN LISBON,12,7,COPENHAGEN,VL Copenhagen,4,-1,12,6,...,2,1,3,2,5.0,1,1,1,1,1
4,Season 12657,COPENHAGEN LISBON,12,7,COPENHAGEN,VL Copenhagen,4,-1,12,6,...,2,1,3,2,5.0,1,1,1,1,1

In [29]:
#with open('/home/ideon/Desktop/datag5.csv', 'a') as f:
  #  datag.to_csv(f, index=False, header=True)

In [30]:
mod_data=datag2.reindex(columns=col2).fillna(0)

In [40]:
mod_data.head()

,HOMECODE,AWAYCODE,Pos_x,Dir_x,P,W_x,D_x,L_x,GF_x,GA_x,...,Pos_y,Dir_y,W_y,D_y,L_y,GF_y,GA_y,DIFF_y,Points_y,Under_Over_2.5_y
0,12,7,4,-1,12,6,3,3,11,10,...,11,1,3,5,4,14,17,-3,14,1
1,12,7,4,-1,12,6,3,3,11,10,...,11,1,3,5,4,14,17,-3,14,1
2,12,7,4,-1,12,6,3,3,11,10,...,11,1,3,5,4,14,17,-3,14,1
3,12,7,4,-1,12,6,3,3,11,10,...,11,1,3,5,4,14,17,-3,14,1
4,12,7,4,-1,12,6,3,3,11,10,...,11,1,3,5,4,14,17,-3,14,1

In [35]:
t=datag2.shape[0]  # # t is the number of raws
t

6864

In [36]:

#mod_data
dataR=mod_data.values
dataR

array([[12,  7,  4, ..., -3, 14,  1],
       [12,  7,  4, ..., -3, 14,  1],
       [12,  7,  4, ..., -3, 14,  1],
       ...,
       [15,  4, 14, ...,  5, 41,  1],
       [13,  1, 15, ..., 30, 59,  1],
       [12,  7, 16, ..., 19, 59,  0]])

In [38]:
#separate Train,test Data

def vfl_data(t,p):
    n=int(((100-p)/100)*t)
    print('Train Data:',t-(t-n),'Test Data:',t-n)
    dataTr=dataR[:n]
    dataTe=dataR[n:]
    
    x_train=dataTr[:,0:21]
    x2_train=x_train.reshape(n,7,3)
    x_train = x2_train[:, np.newaxis, :,:]
    y_train= dataTr[:,21]


    x1_test=dataTe[:,0:21]
    x2_test=x1_test.reshape(t-n,7,3)
    x_test = x2_test[:, np.newaxis, :,:]
    y_test= dataTe[:,21]
    return (x_train, y_train), (x_test, y_test)

In [39]:
(x_train, y_train), (x_test, y_test)=vfl_data(t,10)

Train Data: 6177 Test Data: 687