In [1]:
import numpy as np
import pandas as pd

In [2]:
#RAW DATA FROM SCRAPPIN
df= pd.read_csv('/home/gibeon/Desktop/MY/fvldata/STORAGE/TABLES/pTable001.csv')

#df['Pos'] = df.index
#df.reset_index(level=0, inplace=True)

#df['INDX'] = pd.Series(list(range(len(df['Team']))))
df.head()    ####  REMOVE DIFF,one of WDL,

   Pos  Dir           Team   P  W  D  L  GF  GA  DIFF  Points        Season
0    1   -1      VL Moscow  12  8  1  3  21   9    12      25  Season 12657
1    2    1        VL Rome  12  7  2  3  22  16     6      23  Season 12657
2    3    0      VL London  12  7  2  3  19  17     2      23  Season 12657
3    4   -1  VL Copenhagen  12  6  3  3  11  10     1      21  Season 12657
4    5    0      VL Madrid  12  5  5  2  23  13    10      20  Season 12657

In [3]:
# df2 = df.set_index(['P', 'Pos'],drop=False)  ##interesing stuff
# df2.head()

In [4]:
#df.head()
df['Team'].unique()

array(['VL Moscow', 'VL Rome', 'VL London', 'VL Copenhagen', 'VL Madrid',
       'VL Berlin', 'VL Kiev', 'VL Amsterdam', 'VL Bern', 'VL Vienna',
       'VL Lisbon', 'VL Athens', 'VL Paris', 'VL Zagreb', 'VL Prague',
       'VL Ankara'], dtype=object)

In [5]:
def teamCoded(S):
    
#     cats=['MADRID', 'AMSTERDAM','BERLIN','LONDON','ROME','OSLO','LISBON','PARIS','BRUSSELS','ATHENS','STOCKHOLM',
#           'COPENHAGEN','VIENNA', 'ANKARA','EDINBURGH','BERN']
    
    cats=['MADRID', 'AMSTERDAM','BERLIN','LONDON','ROME','MOSCOW','LISBON','PARIS','ZAGREB','ATHENS','PRAGUE',
          'COPENHAGEN','VIENNA', 'ANKARA','KIEV','BERN']

    catsRev=[]
    for tm in S:
        if tm == cats[0]:
            catsRev.append(1)
        elif tm == cats[1]:
            catsRev.append(2)
        elif tm == cats[2]:
            catsRev.append(3)
        elif tm == cats[3]:
            catsRev.append(4)
        elif tm == cats[4]:
            catsRev.append(5)
        elif tm == cats[5]:
            catsRev.append(6)
        elif tm == cats[6]:
            catsRev.append(7)
        elif tm == cats[7]:
            catsRev.append(8)
        elif tm == cats[8]:
            catsRev.append(9)
        elif tm == cats[9]:
            catsRev.append(10)
        elif tm == cats[10]:
            catsRev.append(11)
        elif tm == cats[11]:
            catsRev.append(12)
        elif tm == cats[12]:
            catsRev.append(13)
        elif tm == cats[13]:
            catsRev.append(14)
        elif tm == cats[14]:
            catsRev.append(15)
        elif tm == cats[15]:
            catsRev.append(16)
    return catsRev


df['TEAM']=pd.Series([x.split()[1].upper() for x in df.Team])
df['HOMECODE']=teamCoded(df['TEAM'])
df['AWAYCODE']=teamCoded(df['TEAM'])

In [6]:
df.head()

,Pos,Dir,Team,P,W,D,L,GF,GA,DIFF,Points,Season,TEAM,HOMECODE,AWAYCODE
0,1,-1,VL Moscow,12,8,1,3,21,9,12,25,Season 12657,MOSCOW,6,6
1,2,1,VL Rome,12,7,2,3,22,16,6,23,Season 12657,ROME,5,5
2,3,0,VL London,12,7,2,3,19,17,2,23,Season 12657,LONDON,4,4
3,4,-1,VL Copenhagen,12,6,3,3,11,10,1,21,Season 12657,COPENHAGEN,12,12
4,5,0,VL Madrid,12,5,5,2,23,13,10,20,Season 12657,MADRID,1,1

In [7]:
df1 = df[df.isna().any(axis=1)]

In [8]:
df1

Empty DataFrame
Columns: [Pos, Dir, Team, P, W, D, L, GF, GA, DIFF, Points, Season, TEAM, HOMECODE, AWAYCODE]
Index: []

In [9]:
dfR= pd.read_csv('/home/gibeon/Desktop/MY/fvldata/STORAGE/TABLES/pResu001.csv')

#dfR= pd.read_csv('/home/ideon/Desktop/DATA CENTRE/resultDataR.csv')
dfR.head()

            TIMER                       TEAMSr  HTR  FTR  P        Season
0  17/07/19 08:10      VL Berlin  -  VL Athens  2:0  4:0  1  Season 12657
1  17/07/19 08:10       VL Zagreb  -  VL Paris  1:3  1:3  1  Season 12657
2  17/07/19 08:10  VL Copenhagen  -  VL Moscow  0:0  1:0  1  Season 12657
3  17/07/19 08:10        VL London  -  VL Rome  0:0  2:0  1  Season 12657
4  17/07/19 08:10          VL Bern  -  VL Kiev  2:0  4:0  1  Season 12657

In [10]:


#function to input(ps) DF column of form/content (3:2) eg HT result or HT results and out put ps.series with eithe 0,1 or 2
def results(ps):

    #ps = ps.dropna()
    lp=[]
    for x in ps:
       # print(x)
        
        h=x.replace(':','  ')[:1]
      #  print(h)
        a=x.replace(':','  ')[1:]
        if float(h) > float(a):
            lp.append(1)

        elif float(a) > float(h):
            lp.append(2)
        else:
            lp.append(0)

    return pd.Series(lp)



def over_under(ps,n):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        if (float(h) + float(a)) > float(n):
            lp.append(1)

        else:
            #means it is under n eg under 2.5
            lp.append(0)

    return pd.Series(lp)

##addition collumn of all goals
def goalsum(ps):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        lp.append((float(h) + float(a)))

    return pd.Series(lp)

In [11]:
#======================================================================
dfR['TEAMSr']
dfR['TEAMSr']=pd.Series([x.upper() for x in dfR.TEAMSr])
dfR['TEAMSr']=pd.Series([x.upper() for x in dfR.TEAMSr])
#split TEAMS into HOME & AWAY 
dfR['HOME']=pd.Series([x.split()[1] for x in dfR.TEAMSr]) 
dfR['AWAY']=pd.Series([x.split()[4] for x in dfR.TEAMSr])

dfR['TIMEr']=pd.Series([x.split()[1] for x in dfR.TIMER])
#Use teamCode FX to code HOME & AWAY collumns and crean new HOMECODE & AWAYCODE
dfR['TC']=dfR['HOME']+' '+dfR['AWAY']

dfR['HOMECODE']=teamCoded(dfR['HOME'])
dfR['AWAYCODE']=teamCoded(dfR['AWAY'])
#dfR['TEAMSC']=dfR['HOMECODE'] + dfR['AWAYCODE']
#teamCode(dfR['HOME'])


    
dfR['FT_Goals']=pd.Series([str(x).replace(':','  ')[:] for x in dfR.FTR])
dfR['HT_Goals']=pd.Series([str(x).replace(':','  ')[:] for x in dfR.HTR])
dfR['FT_home_goals']=pd.Series([str(x).replace(':','  ')[:1] for x in dfR.FTR])
dfR['FT_away_goals']=pd.Series([str(x).replace(':','  ')[1:] for x in dfR.FTR])
dfR['HT_home_goals']=pd.Series([str(x).replace(':','  ')[:1] for x in dfR.HTR])
dfR['HT_away_goals']=pd.Series([str(x).replace(':','  ')[1:] for x in dfR.HTR])



dfR['FT_Results_1_0_2']=results(dfR['FT_Goals'])
dfR['HT_Results_1_0_2']=results(dfR['HT_Goals'])


# FT UNDER /OVER Goals
p = 3.5
n = 2.5
q = 1.5

dfR['Under_Over_3.5']= over_under(dfR['FT_Goals'],p)
dfR['Under_Over_2.5']= over_under(dfR['FT_Goals'],n)
dfR['Under_Over_1.5']= over_under(dfR['FT_Goals'],q)



dfR['Sum_Goals']= goalsum(dfR['FT_Goals'])





dfR['Sum_Goals']= goalsum(dfR['FT_Goals'])# addition column of all goals

#dfR['HT_Results_1_0_2']=results(dfR['HT_Goals'])

colum=['P','Season','TC','HOMECODE', 'AWAYCODE','TIMEr','HTR', 'FTR', 'HT_home_goals', 'HT_away_goals',
       'FT_home_goals','FT_away_goals','Sum_Goals','HT_Results_1_0_2','FT_Results_1_0_2','Under_Over_1.5','Under_Over_2.5',
       'Under_Over_3.5']
resu= dfR.reindex(columns=colum).fillna(0)#.values


colum=['TC','HOMECODE', 'AWAYCODE','TIMEr','HTR', 'FTR', 'HT_home_goals', 'HT_away_goals',
       'FT_home_goals','FT_away_goals','HT_Results_1_0_2','FT_Results_1_0_2','TIMER','TIMED','1','2','X','HT1','HT2','HTX','FS (0:0)','FS(0:0)2','FS(0:0)X','G(0.5)O','G(0.5)U',
         'G(1.5)O','G(1.5)U','G(2.5)O','G(2.5)U','G(3.5)O','G(3.5)U','G(4.5)O','G(4.5)U','Under_Over_1.5','Under_Over_2.5',
       'Under_Over_3.5']

In [12]:
resu.head()

,P,Season,TC,HOMECODE,AWAYCODE,TIMEr,HTR,FTR,HT_home_goals,HT_away_goals,FT_home_goals,FT_away_goals,Sum_Goals,HT_Results_1_0_2,FT_Results_1_0_2,Under_Over_1.5,Under_Over_2.5,Under_Over_3.5
0,1,Season 12657,BERLIN ATHENS,3,10,08:10,2:0,4:0,2,0,4,0,4.0,1,1,1,1,1
1,1,Season 12657,ZAGREB PARIS,9,8,08:10,1:3,1:3,1,3,1,3,4.0,2,2,1,1,1
2,1,Season 12657,COPENHAGEN MOSCOW,12,6,08:10,0:0,1:0,0,0,1,0,1.0,0,1,0,0,0
3,1,Season 12657,LONDON ROME,4,5,08:10,0:0,2:0,0,0,2,0,2.0,0,1,1,0,0
4,1,Season 12657,BERN KIEV,16,15,08:10,2:0,4:0,2,0,4,0,4.0,1,1,1,1,1

In [ ]:
df.iloc[20:600, :20]

In [ ]:
df.iloc[:50, 1:4][df.TEAM == 'MADRID']

In [27]:
for seas in df.Season.unique():
    dfaa= df[df.Season == seas]
    print(dfaa)
    break
    
    
#     for block in df[df.Season == seas]:
#         print(block)

     Pos  Dir           Team   P   W   D   L  GF  GA  DIFF  Points  \
0      1   -1      VL Moscow  12   8   1   3  21   9    12      25
1      2    1        VL Rome  12   7   2   3  22  16     6      23
2      3    0      VL London  12   7   2   3  19  17     2      23
3      4   -1  VL Copenhagen  12   6   3   3  11  10     1      21
4      5    0      VL Madrid  12   5   5   2  23  13    10      20
5      6   -1      VL Berlin  12   6   2   4  21  11    10      20
6      7    1        VL Kiev  12   6   2   4  24  23     1      20
7      8    0   VL Amsterdam  12   4   5   3  14  15    -1      17
8      9    0        VL Bern  12   4   3   5  14  12     2      15
9     10   -1      VL Vienna  12   4   2   6  15  16    -1      14
10    11    1      VL Lisbon  12   3   5   4  14  17    -3      14
11    12    1      VL Athens  12   4   2   6  15  19    -4      14
12    13    0       VL Paris  12   3   3   6  18  19    -1      12
13    14   -1      VL Zagreb  12   3   3   6  12  18    -6      12
14    15    1      VL Prague  12   4   0   8  12  25   -13      12
15    16    0      VL Ankara  12   1   2   9   9  24   -15       5
16     1    0      VL Moscow  13   9   1   3  25  10    15      28
17     2    0        VL Rome  13   8   2   3  25  17     8      26
18     3   -1      VL Madrid  13   6   5   2  25  13    12      23
19     4    1      VL London  13   7   2   4  20  20     0      23
20     5    1  VL Copenhagen  13   6   3   4  12  12     0      21
21     6    0      VL Berlin  13   6   2   5  22  15     7      20
22     7   -1   VL Amsterdam  13   5   5   3  17  16     1      20
23     8    1        VL Kiev  13   6   2   5  24  26    -2      20
24     9   -1       VL Paris  13   4   3   6  22  20     2      15
25    10    1        VL Bern  13   4   3   6  15  16    -1      15
26    11    0      VL Lisbon  13   3   6   4  14  17    -3      15
27    12   -1      VL Prague  13   5   0   8  14  26   -12      15
28    13    1      VL Vienna  13   4   2   7  16  19    -3      14
29    14    1      VL Athens  13   4   2   7  15  21    -6      14
..   ...  ...            ...  ..  ..  ..  ..  ..  ..   ...     ...
274    3   -1      VL Madrid  23  11  10   2  44  22    22      43
275    4    1      VL Moscow  23  13   2   8  34  23    11      41
276    5    0      VL Berlin  23  11   7   5  41  19    22      40
277    6    0   VL Amsterdam  23   9   6   8  32  28     4      33
278    7   -1      VL Lisbon  23   7  10   6  29  29     0      31
279    8    1        VL Kiev  23   9   3  11  36  42    -6      30
280    9    1  VL Copenhagen  23   9   3  11  19  30   -11      30
281   10   -1       VL Paris  23   8   4  11  33  36    -3      28
282   11   -1      VL Zagreb  23   7   7   9  25  28    -3      28
283   12    1      VL Athens  23   7   6  10  26  29    -3      27
284   13    1      VL Prague  23   8   3  12  23  38   -15      27
285   14    0      VL Vienna  23   5   6  12  20  33   -13      21
286   15    0        VL Bern  23   4   7  12  19  33   -14      19
287   16    0      VL Ankara  23   5   4  14  23  41   -18      19
288    1    0      VL London  24  16   3   5  42  27    15      51
289    2    0        VL Rome  24  14   5   5  43  27    16      47
290    3    0      VL Madrid  24  12  10   2  46  23    23      46
291    4    0      VL Moscow  24  13   2   9  35  25    10      41
292    5    0      VL Berlin  24  11   7   6  41  21    20      40
293    6    0   VL Amsterdam  24  10   6   8  34  28     6      36
294    7   -1        VL Kiev  24  10   3  11  38  43    -5      33
295    8    1      VL Lisbon  24   7  11   6  30  30     0      32
296    9    0  VL Copenhagen  24   9   4  11  21  32   -11      31
297   10    0       VL Paris  24   8   5  11  36  39    -3      29
298   11    0      VL Zagreb  24   7   8   9  27  30    -3      29
299   12    0      VL Athens  24   7   6  11  26  31    -5      27
300   13    0      VL Prague  24   8   3  13  24  40   -16      27
301   14    0      VL Vienna  24   5   6  13  20  35   -15      21
302   15    0        VL Bern  24   4   8  12  20  34   -14      20
303   16    0      VL Ankara  24   5   5  14  26  44   -18      20

           Season        TEAM  HOMECODE  AWAYCODE
0    Season 12657      MOSCOW         6         6
1    Season 12657        ROME         5         5
2    Season 12657      LONDON         4         4
3    Season 12657  COPENHAGEN        12        12
4    Season 12657      MADRID         1         1
5    Season 12657      BERLIN         3         3
6    Season 12657        KIEV        15        15
7    Season 12657   AMSTERDAM         2         2
8    Season 12657        BERN        16        16
9    Season 12657      VIENNA        13        13
10   Season 12657      LISBON         7         7
11   Season 12657      ATHENS        10        10
12   Season 12657       PARIS         8         8
13   Season 12657      ZAGREB         9         9
14   Season 12657      PRAGUE        11        11
15   Season 12657      ANKARA        14        14
16   Season 12657      MOSCOW         6         6
17   Season 12657        ROME         5         5
18   Season 12657      MADRID         1         1
19   Season 12657      LONDON         4         4
20   Season 12657  COPENHAGEN        12        12
21   Season 12657      BERLIN         3         3
22   Season 12657   AMSTERDAM         2         2
23   Season 12657        KIEV        15        15
24   Season 12657       PARIS         8         8
25   Season 12657        BERN        16        16
26   Season 12657      LISBON         7         7
27   Season 12657      PRAGUE        11        11
28   Season 12657      VIENNA        13        13
29   Season 12657      ATHENS        10        10
..            ...         ...       ...       ...
274  Season 12657      MADRID         1         1
275  Season 12657      MOSCOW         6         6
276  Season 12657      BERLIN         3         3
277  Season 12657   AMSTERDAM         2         2
278  Season 12657      LISBON         7         7
279  Season 12657        KIEV        15        15
280  Season 12657  COPENHAGEN        12        12
281  Season 12657       PARIS         8         8
282  Season 12657      ZAGREB         9         9
283  Season 12657      ATHENS        10        10
284  Season 12657      PRAGUE        11        11
285  Season 12657      VIENNA        13        13
286  Season 12657        BERN        16        16
287  Season 12657      ANKARA        14        14
288  Season 12657      LONDON         4         4
289  Season 12657        ROME         5         5
290  Season 12657      MADRID         1         1
291  Season 12657      MOSCOW         6         6
292  Season 12657      BERLIN         3         3
293  Season 12657   AMSTERDAM         2         2
294  Season 12657        KIEV        15        15
295  Season 12657      LISBON         7         7
296  Season 12657  COPENHAGEN        12        12
297  Season 12657       PARIS         8         8
298  Season 12657      ZAGREB         9         9
299  Season 12657      ATHENS        10        10
300  Season 12657      PRAGUE        11        11
301  Season 12657      VIENNA        13        13
302  Season 12657        BERN        16        16
303  Season 12657      ANKARA        14        14

[304 rows x 15 columns]

In [ ]:
df[df.Season == "Season 12628"][df.P == 1][df.TEAM == "LISBON"] # Amazing filter

In [ ]:
df.iloc[:, 1:40][df.Dir <5]

In [ ]:
def gen_dir(ps):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        lp.append((float(h) + float(a)))

    return pd.Series(lp)

In [ ]:
df['Sum_Goals']= gendir(df['Dir'])

In [35]:
df[df.Season == df.Season.unique()[2]]

,Pos,Dir,Team,P,W,D,L,GF,GA,DIFF,Points,Season,TEAM,HOMECODE,AWAYCODE
784,1,0,VL Berlin,1,1,0,0,4,0,4,3,Season 12655,BERLIN,3,3
785,2,0,VL Madrid,1,1,0,0,5,2,3,3,Season 12655,MADRID,1,1
786,3,0,VL Moscow,1,1,0,0,2,0,2,3,Season 12655,MOSCOW,6,6
787,4,0,VL Amsterdam,1,1,0,0,2,0,2,3,Season 12655,AMSTERDAM,2,2
788,5,0,VL Rome,1,1,0,0,3,2,1,3,Season 12655,ROME,5,5
789,6,0,VL Copenhagen,1,1,0,0,1,0,1,3,Season 12655,COPENHAGEN,12,12
790,7,0,VL Lisbon,1,1,0,0,1,0,1,3,Season 12655,LISBON,7,7
791,8,0,VL Athens,1,0,1,0,1,1,0,1,Season 12655,ATHENS,10,10
792,9,0,VL Prague,1,0,1,0,1,1,0,1,Season 12655,PRAGUE,11,11
793,10,0,VL Kiev,1,0,0,1,2,3,-1,0,Season 12655,KIEV,15,15
794,11,0,VL Bern,1,0,0,1,0,1,-1,0,Season 12655,BERN,16,16
795,12,0,VL Zagreb,1,0,0,1,0,1,-1,0,Season 12655,ZAGREB,9,9
796,13,0,VL Ankara,1,0,0,1,0,2,-2,0,Season 12655,ANKARA,14,14
797,14,0,VL Paris,1,0,0,1,0,2,-2,0,Season 12655,PARIS,8,8
798,15,0,VL London,1,0,0,1,2,5,-3,0,Season 12655,LONDON,4,4
799,16,0,VL Vienna,1,0,0,1,0,4,-4,0,Season 12655,VIENNA,13,13
800,1,0,VL Berlin,2,2,0,0,6,1,5,6,Season 12655,BERLIN,3,3
801,2,-1,VL Amsterdam,2,2,0,0,4,1,3,6,Season 12655,AMSTERDAM,2,2
802,3,-1,VL Lisbon,2,2,0,0,3,0,3,6,Season 12655,LISBON,7,7
803,4,1,VL Madrid,2,1,1,0,7,4,3,4,Season 12655,MADRID,1,1
804,5,-1,VL Copenhagen,2,1,1,0,3,2,1,4,Season 12655,COPENHAGEN,12,12
805,6,1,VL Moscow,2,1,0,1,3,2,1,3,Season 12655,MOSCOW,6,6
806,7,1,VL Rome,2,1,0,1,4,4,0,3,Season 12655,ROME,5,5
807,8,-1,VL Bern,2,1,0,1,2,2,0,3,Season 12655,BERN,16,16
808,9,-1,VL London,2,1,0,1,4,5,-1,3,Season 12655,LONDON,4,4
809,10,-1,VL Vienna,2,1,0,1,3,6,-3,3,Season 12655,VIENNA,13,13
810,11,1,VL Prague,2,0,1,1,3,4,-1,1,Season 12655,PRAGUE,11,11
811,12,-1,VL Ankara,2,0,1,1,2,4,-2,1,Season 12655,ANKARA,14,14
812,13,-1,VL Paris,2,0,1,1,2,4,-2,1,Season 12655,PARIS,8,8
813,14,1,VL Athens,2,0,1,1,1,3,-2,1,Season 12655,ATHENS,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,3,0,VL London,29,17,5,7,58,31,27,56,Season 12655,LONDON,4,4
1235,4,0,VL Lisbon,29,18,2,9,47,27,20,56,Season 12655,LISBON,7,7
1236,5,0,VL Rome,29,15,6,8,51,27,24,51,Season 12655,ROME,5,5
1237,6,0,VL Madrid,29,15,6,8,46,33,13,51,Season 12655,MADRID,1,1
1238,7,0,VL Ankara,29,9,12,8,36,42,-6,39,Season 12655,ANKARA,14,14
1239,8,0,VL Zagreb,29,11,4,14,31,35,-4,37,Season 12655,ZAGREB,9,9
1240,9,-1,VL Vienna,29,11,4,14,33,54,-21,37,Season 12655,VIENNA,13,13
1241,10,1,VL Moscow,29,10,6,13,39,41,-2,36,Season 12655,MOSCOW,6,6
1242,11,0,VL Paris,29,8,8,13,35,49,-14,32,Season 12655,PARIS,8,8
1243,12,-1,VL Copenhagen,29,8,7,14,23,42,-19,31,Season 12655,COPENHAGEN,12,12
1244,13,1,VL Bern,29,9,3,17,26,48,-22,30,Season 12655,BERN,16,16
1245,14,0,VL Athens,29,6,9,14,25,35,-10,27,Season 12655,ATHENS,10,10
1246,15,0,VL Kiev,29,7,6,16,34,55,-21,27,Season 12655,KIEV,15,15
1247,16,0,VL Prague,29,3,10,16,21,46,-25,19,Season 12655,PRAGUE,11,11
1248,1,0,VL Berlin,30,19,6,5,57,26,31,63,Season 12655,BERLIN,3,3
1249,2,-1,VL London,30,18,5,7,62,34,28,59,Season 12655,LONDON,4,4
1250,3,1,VL Amsterdam,30,17,6,7,51,21,30,57,Season 12655,AMSTERDAM,2,2
1251,4,0,VL Lisbon,30,18,2,10,48,29,19,56,Season 12655,LISBON,7,7
1252,5,-1,VL Madrid,30,16,6,8,47,33,14,54,Season 12655,MADRID,1,1
1253,6,1,VL Rome,30,15,6,9,51,28,23,51,Season 12655,ROME,5,5
1254,7,-1,VL Vienna,30,12,4,14,36,56,-20,40,Season 12655,VIENNA,13,13
1255,8,1,VL Ankara,30,9,12,9,38,45,-7,39,Season 12655,ANKARA,14,14
1256,9,1,VL Zagreb,30,11,4,15,34,39,-5,37,Season 12655,ZAGREB,9,9
1257,10,0,VL Moscow,30,10,6,14,41,45,-4,36,Season 12655,MOSCOW,6,6
1258,11,0,VL Paris,30,9,8,13,39,51,-12,35,Season 12655,PARIS,8,8
1259,12,0,VL Copenhagen,30,9,7,14,25,43,-18,34,Season 12655,COPENHAGEN,12,12
1260,13,-1,VL Kiev,30,8,6,16,37,57,-20,30,Season 12655,KIEV,15,15
1261,14,1,VL Bern,30,9,3,18,26,51,-25,30,Season 12655,BERN,16,16
1262,15,1,VL Athens,30,6,9,15,25,37,-12,27,Season 12655,ATHENS,10,10
1263,16,0,VL Prague,30,4,10,16,24,46,-22,22,Season 12655,PRAGUE,11,11

In [48]:
teamDf = df[df.Season == df.Season.unique()[4]][df.TEAM =='BERLIN']

/home/gibeon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [49]:
teamDf

,Pos,Dir,Team,P,W,D,L,GF,GA,DIFF,Points,Season,TEAM,HOMECODE,AWAYCODE
1756,13,0,VL Berlin,1,0,0,1,0,1,-1,0,Season 12653,BERLIN,3,3
1775,16,1,VL Berlin,2,0,0,2,0,2,-2,0,Season 12653,BERLIN,3,3
1788,13,-1,VL Berlin,3,1,0,2,1,2,-1,3,Season 12653,BERLIN,3,3
1798,7,-1,VL Berlin,4,2,0,2,2,2,0,6,Season 12653,BERLIN,3,3
1812,5,-1,VL Berlin,5,3,0,2,5,3,2,9,Season 12653,BERLIN,3,3
1827,4,-1,VL Berlin,6,3,1,2,6,4,2,10,Season 12653,BERLIN,3,3
1843,4,0,VL Berlin,7,3,2,2,7,5,2,11,Season 12653,BERLIN,3,3
1859,4,0,VL Berlin,8,4,2,2,10,6,4,14,Season 12653,BERLIN,3,3
1876,5,1,VL Berlin,9,4,3,2,12,8,4,15,Season 12653,BERLIN,3,3
1890,3,-1,VL Berlin,10,5,3,2,16,8,8,18,Season 12653,BERLIN,3,3
1906,3,0,VL Berlin,11,6,3,2,19,9,10,21,Season 12653,BERLIN,3,3
1922,3,0,VL Berlin,12,7,3,2,21,9,12,24,Season 12653,BERLIN,3,3
1939,4,1,VL Berlin,13,7,3,3,22,12,10,24,Season 12653,BERLIN,3,3
1955,4,0,VL Berlin,14,7,4,3,22,12,10,25,Season 12653,BERLIN,3,3
1971,4,0,VL Berlin,15,8,4,3,25,13,12,28,Season 12653,BERLIN,3,3
1986,3,-1,VL Berlin,16,9,4,3,28,15,13,31,Season 12653,BERLIN,3,3
2003,4,1,VL Berlin,17,9,4,4,28,18,10,31,Season 12653,BERLIN,3,3
2017,2,-1,VL Berlin,18,10,4,4,29,18,11,34,Season 12653,BERLIN,3,3
2034,3,1,VL Berlin,19,10,5,4,31,20,11,35,Season 12653,BERLIN,3,3
2051,4,1,VL Berlin,20,10,5,5,31,21,10,35,Season 12653,BERLIN,3,3
2067,4,0,VL Berlin,21,11,5,5,32,21,11,38,Season 12653,BERLIN,3,3
2083,4,0,VL Berlin,22,12,5,5,33,21,12,41,Season 12653,BERLIN,3,3
2099,4,0,VL Berlin,23,13,5,5,34,21,13,44,Season 12653,BERLIN,3,3
2114,3,-1,VL Berlin,24,14,5,5,35,21,14,47,Season 12653,BERLIN,3,3
2129,2,-1,VL Berlin,25,15,5,5,37,21,16,50,Season 12653,BERLIN,3,3
2145,2,0,VL Berlin,26,16,5,5,38,21,17,53,Season 12653,BERLIN,3,3
2161,2,0,VL Berlin,27,17,5,5,42,21,21,56,Season 12653,BERLIN,3,3
2177,2,0,VL Berlin,28,17,5,6,43,25,18,56,Season 12653,BERLIN,3,3
2192,1,-1,VL Berlin,29,18,5,6,45,26,19,59,Season 12653,BERLIN,3,3
2208,1,0,VL Berlin,30,19,5,6,49,27,22,62,Season 12653,BERLIN,3,3

In [86]:
for n in range(len(teamDf.Pos)):
    lzz =[]
    dfzz =teamDf[teamDf.P ==n].P
    for dzz in dfzz:
        if dzz == n+1:
            print(dzz)
        else:
            print('Nope')

In [ ]:
def gen_dir(ps):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        lp.append((float(h) + float(a)))

    return pd.Series(lp)

In [64]:
for n in range(len(teamDf.Pos)):
    lzz =[]
    if teamDf.
    print(n+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
#gr = resu.groupby([resu['HOMECODE'], resu['AWAYCODE']])

In [ ]:
#gr # what the f*ck is this pandas object

In [ ]:
df['P']=df['P']+1

In [ ]:
df.head()

In [ ]:
##magic happens here

dff1 = pd.merge(df,resu, on =('Season','P','HOMECODE'))#,by='Season')#,left_on='lkey', right_on='rkey')
#dff1['AWAYCODE'] = dff1['AWAYCODE_x']
dff2 = pd.merge(df,resu, on =('Season','P','AWAYCODE'))#,left_on='lkey', right_on='rkey')

In [ ]:
dff1.sort_values(by=['Season','P'])
dff1 = dff1.drop_duplicates()
dff1.head()

In [ ]:
dff2.sort_values(by=['Season','P'])
dff2 = dff2.drop_duplicates()
dff2.head()

In [ ]:
#dff1.iloc[:, 1:82]#[dff1.TEAM == 'MADRID']  #  most IMPORTANT FILTER OF DFS....NOTE NOTE NOTE
#len(dff1.columns)#[data.three > 5]
#len(dff1.columns)

dff1.iloc[:, 1:20]#[dff1.TEAM == 'MADRID']

In [ ]:
#dff2.iloc[:, 31:52]#[data.three > 5]
#len(dff1.columns)
dff2['HOMECODE'] = dff2['HOMECODE_y']#//couse by duplicate files
#dff2.iloc[:, 1:82]#[dff2.TEAM == 'VIENNA']

In [ ]:
datag = pd.merge(dff1,dff2, on =('Season','P','HOMECODE'))

In [ ]:
datag.sort_values(by=['Season','P'])
datag = datag.drop_duplicates()
datag

In [ ]:
datag.head()

In [ ]:
datag.columns

colt = ['Season','TC_x','HOMECODE','AWAYCODE','TEAM_x','Team_x','Pos_x', 'Dir_x', 'P', 'W_x', 'D_x', 'L_x', 'GF_x', 'GA_x','DIFF_x',
        'Points_x','TEAM_y','Team_y','Pos_y', 'Dir_y','W_y', 'D_y', 'L_y', 'GF_y', 'GA_y', 'DIFF_y', 'Points_y','HTR_y',
       'FTR_y', 'HT_home_goals_y', 'HT_away_goals_y', 'FT_home_goals_y',
       'FT_away_goals_y', 'Sum_Goals_y', 'HT_Results_1_0_2_y',
       'FT_Results_1_0_2_y', 'Under_Over_1.5_y', 'Under_Over_2.5_y',
       'Under_Over_3.5_y']

col2 = ['HOMECODE','AWAYCODE','Pos_x', 'Dir_x', 'P', 'W_x', 'D_x', 'L_x', 'GF_x', 'GA_x','DIFF_x',
        'Points_x','Pos_y', 'Dir_y','W_y', 'D_y', 'L_y', 'GF_y', 'GA_y', 'DIFF_y', 'Points_y','Under_Over_2.5_y',]

predict1x2 = ['HOMECODE','AWAYCODE','Pos_x', 'Dir_x', 'P', 'W_x', 'D_x', 'L_x', 'GF_x', 'GA_x','DIFF_x',
        'Points_x','Pos_y', 'Dir_y','W_y', 'D_y', 'L_y', 'GF_y', 'GA_y', 'DIFF_y', 'Points_y','FT_Results_1_0_2_y',]
datag.columns

In [ ]:
#change collum to change what to predict
datag2 =  datag.reindex(columns= col2)
#datag2.iloc[:, 1:38].head()#[dff2.TEAM == 'VIENNA']
datag2.head()

In [ ]:
#datag2.iloc[40:140, 1:38]#.head()#[dff2.TEAM == 'VIENNA']

In [ ]:
#with open('/home/ideon/Desktop/datag5.csv', 'a') as f:
  #  datag.to_csv(f, index=False, header=True)

In [ ]:
mod_data=datag2.reindex(columns=col2).fillna(0)

In [ ]:
mod_data.head()

In [ ]:
t=datag2.shape[0]  # # t is the number of raws
t

In [ ]:
#mod_data
dataR=mod_data.values
dataR

In [ ]:
p1=dataR   # Uncomment when manual is used
p1

In [ ]:
X, y = p1[:,:21],p1[:,21:]

In [ ]:
X = X.reshape(p1.shape[0], 21)
#X = X.astype('float32')

#X = X/60
#X

In [ ]:
X.shape

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [ ]:
X_train

In [ ]:
X_test

In [ ]:
y_train

In [ ]:
y_test

In [ ]:
# from keras.utils import np_utils
# NB_CLASSES =1
# import numpy as np
# y_train = np_utils.to_categorical(y_train, NB_CLASSES)
# y_test = np_utils.to_categorical(y_test, NB_CLASSES)

In [ ]:
y_train

In [ ]:
y_test

In [ ]:
from __future__ import print_function
import numpy as np
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.optimizers import SGD,Adam
from keras.utils import np_utils
import numpy as np
import pylab as plt
import numpy as np
import matplotlib.pyplot as plt
import os

In [ ]:
#X_train, X_test, y_train, y_test
#
X_train = X_train.reshape(X_train.shape[0], 21)
X_test = X_test.reshape(X_test.shape[0], 21)
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
# normalize
X_train /= 50
X_test /= 50

In [ ]:
X_train.shape

In [ ]:
X_train

In [ ]:
X_test

In [ ]:
y_test

In [ ]:
y_train

In [ ]:
NB_EPOCH = 30
BATCH_SIZE = 30
VERBOSE = 1
NB_CLASSES = 1 # number of outputs = number of digits
OPTIMIZER =Adam() #SGD() 
N_HIDDEN0 = 60
N_HIDDEN1 =160
N_HIDDEN2 =500
N_HIDDEN3 =160
VALIDATION_SPLIT=0.2 # how much TRAIN is reserved for VALIDATION
DROPOUT = 0.01
RESHAPED = 21

In [ ]:

# M_HIDDEN hidden layers 10 outputs
model = Sequential()
model.add(Dense(N_HIDDEN0, input_shape=(RESHAPED,)))
model.add(Activation('relu'))
model.add(Dropout(DROPOUT))
model.add(Dense(N_HIDDEN1))
model.add(Activation('relu'))
model.add(Dropout(DROPOUT))

model.add(Dense(N_HIDDEN2))
model.add(Activation('relu'))
model.add(Dropout(DROPOUT))


model.add(Dense(N_HIDDEN3))
model.add(Activation('relu'))
model.add(Dropout(DROPOUT))

model.add(Dense(NB_CLASSES))
model.add(Activation('sigmoid'))
model.summary()



# Loss Train
#model.compile(loss='categorical_crossentropy',optimizer=OPTIMIZER,metrics=['accuracy'])
model.compile(loss="binary_crossentropy", optimizer=OPTIMIZER,metrics=["accuracy"])
history = model.fit(X_train, y_train,batch_size=BATCH_SIZE, epochs=NB_EPOCH,verbose=VERBOSE,
                    validation_split=VALIDATION_SPLIT)
# Test

score = model.evaluate(X_test, y_test, verbose=VERBOSE)
print("Test score:", score[0])
print('Test accuracy:', score[1])

In [ ]:
# list all data in history
print(history.history.keys())
# summarize history for accuracy
plt.plot(history.history['acc'])
plt.plot(history.history['val_acc'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
# summarize history for loss
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
eeeeeeeeewrrpr

In [ ]:
from keras.models import load_model

model.save("/home/gibeon/Desktop/MY/fvldata/STORAGE/Models/USE/vfl_model.h5")  # creates a HDF5 file 'my_model.h5'
#del model  # deletes the existing model

In [ ]:
# Import AI MODULES & FRAMEWORKS
from __future__ import division, print_function
from keras import backend as K
from keras.callbacks import ModelCheckpoint 
from keras.models import Sequential
from keras.layers.convolutional import Conv2D
#from keras.layers.convolutional import MaxPooling2D,AveragePooling2D
from keras.layers.pooling import AveragePooling2D,GlobalAveragePooling2D,MaxPooling2D,GlobalMaxPooling2D
from keras.layers.core import Activation
from keras.layers.core import Flatten
from keras.layers.core import Dense, Dropout 
#from keras_contrib
#from keras_contrib.layers.core import CosineDense
from keras.layers.advanced_activations import LeakyReLU
from keras.datasets import mnist
from keras.utils import np_utils
from keras.optimizers import SGD, RMSprop, Adam
from keras.layers import LSTM
from keras.layers.normalization import BatchNormalization
import numpy as np
import pylab as plt
import numpy as np
import matplotlib.pyplot as plt
import os 

from keras.initializers import TruncatedNormal

In [ ]:
# returns a compiled model
# identical to the previous one
model = load_model("/home/gibeon/Desktop/MY/fvldata/STORAGE/Models/USE/vfl_model.h5")

In [ ]:
#SETTINGS##

#MODEL_DIR = "/home/gibeon/Desktop/MY/fvldata/STORAGE/Models/" #over2.5
MODEL_DIR = "/home/gibeon/Desktop/MY/fvldata/STORAGE/Models/hxa/"
MODEL_DIR2 = "/home/gibeon/Desktop/MY/fvldata/STORAGE/Models/MOD/"

BATCH_SIZE = 5
VERBOSE = 1
OPTIMIZER = Adam()
VALIDATION_SPLIT=0.15
ROWS,COLS = 7, 3 # input image dimensions
INPUT_SHAPE = (1, ROWS, COLS)

count = 0
NB_EPOCH = 30
INITIAL_EPOCH = 0

In [ ]:
checkpoint = ModelCheckpoint( filepath=os.path.join(MODEL_DIR, "model-{epoch:02d}.h5"),save_best_only=True) 
history = model.fit(X_train, y_train,batch_size=BATCH_SIZE, epochs=NB_EPOCH,initial_epoch = INITIAL_EPOCH,verbose=VERBOSE,validation_split=VALIDATION_SPLIT,callbacks=[checkpoint])
score = model.evaluate(X_test, y_test, verbose=VERBOSE)

# save best model with
checkpoint = ModelCheckpoint( filepath=os.path.join(MODEL_DIR2, "model-{epoch:02d}.h5"),save_best_only=True)
#sleep(2)
print("Test score:", score[0])
print('Test accuracy:', score[1])
#print('Test accuracy percentage:', round(score[1]*100,3),'%')
#model.save('g8FT_model.h5')

In [ ]:
#model.save("/home/gibeon/Desktop/MY/fvldata/STORAGE/Models/USE/vfl{}_model.h5".format(score[1]))

In [ ]:
# list all data in history
print(history.history.keys())
# summarize history for accuracy
plt.plot(history.history['acc'])
plt.plot(history.history['val_acc'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
# summarize history for loss
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()